// COLORS
$primary-color: #83b3fe;
$secondary-color: #8ca6f3;

$white-color: #fff;

$dark-grey: #bfbfbf;

$dark-blue-text: #000b1b; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
